.container {
    width: 1280px;
    margin: 0 auto;
}

.title {
    font-size: 80px;
}

.top-menu ul {
    list-style: none;
    display: flex;
    gap: 70px;
    background-color: grey;
}

.top-menu li {
    display: flex;
    height: 50px;
    align-items: center;
    margin-left: 50px;
    border-left: solid 1px black;
    color: white;
    font-size: 24px;
}

.navigation {
    display: flex;
    width: 344px;
    height: 399px;
    background-color: rgb(215, 214, 214);
}



.nav-list {
    list-style: none;
    font-size: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-text {
    right: 500px;
    width: 500px;
}

.img-wrapper {
    display: inline-block;
    width: 695px;
    height: 529px;
    flex-shrink: 0;
    border: 1px solid #000;
    margin-left: 400px;
}

.img {
    display: inline-block;
    margin-left: 190px;
    margin-top: 75px;
}

.right-text {
    width: 695px;
    justify-content: end;
    position: absolute;
    bottom: -140px;
}

.right-text p{
    font-size: 18px;
}

.footer-menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 450px;
    gap: 50px;
    font-size: 28px;
    width: 1280px;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
    align-items: center;
}

.copyright{
    margin-left: 60px;
}

.why-ramda:hover{
   background-color:  rgba(99, 105, 110, 0.48);
}

.why-ramda{
    border: none;
    font-size: 28px;
}